.username {
  font-size: medium;
  font-weight: bold;
}

.dateAgo {
    font-size: small;
    color: rgba(255, 255, 255, 0.55)
}

.dateFormated {
  font-size: small;
  color: rgba(255, 255, 255, 0.35);
}
